In [2]:
import numpy as np
import pandas as pd
from IPython.display import display

import visuals as vs

%matplotlib inline


data = pd.read_csv('customers.csv')

data.drop(['Region', 'Channel'], axis = 1, inplace = True)

print 'Dataset has {} samples and {} features'.format(*data.shape)

Dataset has 440 samples and 6 features

In [3]:
display(data.describe())

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [4]:

indices = [1,4,19]


samples = pd.DataFrame(data.loc[indices], columns = data.keys()).reset_index(drop = True)
print "Chosen samples of wholesale customers dataset:"
display(samples)

Chosen samples of wholesale customers dataset:

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicatessen
0   7057  9810     9568    1762              3293          1776
1  22615  5410     7198    3915              1777          5185
2   7780  2495     9464     669              2518           501

In [28]:
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import fbeta_score

y = data['Grocery']

x = data.drop(['Grocery'], axis=1)

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25,
                                                    random_state=42)


clf = tree.DecisionTreeClassifier()

clf = clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

score = fbeta_score(y_test, y_pred, average='micro', beta=0.5)


print score

0.0